<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
  <title>Combat Cabana</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <!-- <%= image_tag("logo.png") %> -->
    <%= @page_title || "Combat Cabana" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
      </ul>
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart', class: 'hayaya') do %>
          <%= render @cart %>
        <% end %>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
